[submodule "submodules/ios-store"]
	path = submodules/ios-store
	url = git@github.com:soomla/ios-store.git
[submodule "submodules/android-store"]
	path = submodules/android-store
	url = git@github.com:soomla/android-store.git
[submodule "submodules/soomla-unity3d-core"]
	path = submodules/soomla-unity3d-core
	url = git@github.com:soomla/soomla-unity3d-core.git
[submodule "submodules/android-levelup"]
	path = submodules/android-levelup
	url = git@github.com:soomla/android-levelup.git
[submodule "submodules/ios-levelup"]
	path = submodules/ios-levelup
	url = git@github.com:soomla/ios-levelup.git
[submodule "submodules/unity3d-store"]
	path = submodules/unity3d-store
	url = git@github.com:soomla/unity3d-store.git
